<link rel="stylesheet" href="./app.component.css">

<div class="page">
  <h1>Understanding Angular @ the Gulag</h1>
  <div class="container">
    <div (click)="handleClick('blue')" class="square blue" ></div>
    <div (click)="handleClick('black')" class="square black"></div>
    <div (click)="handleClick('red')" class="square red"></div>
    <div (click)="handleClick('orange')" class="square orange"></div>
    <div (click)="handleClick('yellow')" class="square yellow"></div>
    <div (click)="handleClick('green')" class="square green"></div>
  </div>
  <h2>{{title}}</h2>
  <app-currency-form></app-currency-form>
  <app-servers></app-servers>
  <warning></warning>
  <app-danger></app-danger>
</div>

